.sorter {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: $text-paragraph;

  button {
    width: 80px;
    height: 50px;
  }

  button:hover {
    background-color: $color-dark-grey;
  }

  button:focus {
    background-color: $color-light-grey;
  }
}

@media (min-width: 550px) {
  .sorter {
    font-size: $text-paragraph-desktop;
  }
}
