.sorter {
  display: flex;
  align-items: center;
  gap: $space-small;

  button {
    width: 100px;
    height: 50px;
  }

  button:hover {
    background-color: $color-dark-grey;
  }

  button:focus {
    background-color: $color-light-grey;
  }
}
