* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
.button {
  font-size: $text-paragraph;
  font-weight: bold;
  height: 44px;
  width: 200px;
  border: none;
  border-radius: 44px;
  background: $color-blue;
  color: white;
  cursor: pointer;

  @media (min-width: 550px) {
    font-size: $text-paragraph-desktop;
    height: 56px;
    width: 300px;
  }
}

.button-no-background {
  background: none;
  border: none;
  color: black;
  height: auto;
  width: auto;
}

img {
  max-width: 100%;
  height: auto;
}
