//Colors
$color-white-pale: #faf9f6;
$color-blue: #0058a3;
$color-light-grey: #e2e1e2;
$color-dark-grey: #a9a9a8;

//Font-Size
$text-paragraph: 14px;
$text-paragraph-desktop: 18px;

// Spacing
$space-small: 8px;
$space-medium: 16px;
$space-big: 24px;
$space-extra-big: 32px;

// Media queries
$media-big-phones: 550px;
$media-tablet: 750px;
$media-desktop: 1280px;
